.startScreen {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../../../assets/games/sprint/letsPlay.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
.start__text_name {
  margin: 5px;
  color: #ffffff;
  font-size: 40px;
}
.start__text {
  color: #ffffff;
  font-size: 1.5em;
  margin: 5px;
}
.game__select_level {
  width: 50px;
  border-radius: 3px;
  padding: 5px;
  background-color: #ffffff;
  margin: 30px;
}
.keyboard__rules__text {
  margin: 5px;
  color: #ffffff;
}
