.sprint {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.sprint__text {
  text-align: center;
}
.sprint__select_level {
  margin: 30px;
}
.start__text {
  color: #ffffff;
  font-size: 1.5em;
}
.start__text_name {
  color: #ffffff;
  font-size: 40px;
}
.sprint__select_level {
  width: 50px;
  border-radius: 3px;
  padding: 5px;
  background-color: #ffffff;
}
