.start_button {
  border: 2px solid #0f4c81;
  color: #0f4c81;
}
.start_button:hover {
  background-color: #0f4c81;
  color: #ffffff;
}
.header_card_sprint {
  background-color: #0f4c81;
  color: #ffffff;
}
.selectLevelSprint {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 120px;
}
