.sprint__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
}

.sprint__control_buttons {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}
.sprint__progress {
  width: 100%;
  margin: 20px 10px;
}
.head_sprint {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px 0;
  color: #ffffff;
}
.sprint__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  color: #ffffff;
}
.title_sprint {
  display: flex;
  justify-content: center;
  color: #ffffff;
}
.title_sprint_wrong {
  display: flex;
  justify-content: center;
  color: red;
}
.control_buttons {
  margin-top: 20px;
  text-align: center;
}

.sprint_circle {
  margin: 5px;
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 100%;
}
.circle_extrapoint_sprint {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.circle_right {
  border: 2px solid orange;
}
.sprint__translate {
  color: orange;
}
.game__text {
  color: #ffffff;
}
.icon__fullScreen {
  cursor: pointer;
}
.fullScreen__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
