.sprint__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 300px;
  margin-bottom: 20px;
  border-radius: 4px;
}
.sprint__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}
.sprint__control_buttons {
  margin: 5px 0 0 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.sprint__progress {
  width: 80%;
  margin-bottom: 5px;
  padding: 0 5px;
}
.head_sprint {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 5px 0;
  color: #ffffff;
}
.sprint__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  width: 100%;
}
.title_sprint {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: #ffffff;
  margin: 0;
}
.title_sprint_wrong {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: red;
  margin: 0;
}
.control_buttons {
  text-align: center;
}

.sprint_circle {
  margin: 5px;
  width: 35px;
  height: 35px;
  border: 2px solid #ffffff;
  border-radius: 100%;
}
.circle_extrapoint_sprint {
  display: flex;
  justify-content: center;
}
.circle_right {
  border: 2px solid orange;
}
.sprint__translate {
  color: orange;
}
.game__text {
  font-size: 1.2em;
  color: #ffffff;
}
.game__text_btn {
  color: #ffffff;
}
.icon__fullScreen {
  position: absolute;
  left: 3px;
  top: 10px;
  cursor: pointer;
}
.fullScreen__container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.microphone {
  display: flex;

  left: 3px;
  top: 3px;
}
.microphone_text {
  font-size: 14px;
}

@media screen and (max-width: 620px) {
  .sprint__card {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .sprint__content {
    width: 260px;
  }
}
