.gridContainer {
  margin: 0 !important;
  margin-bottom: 20px !important;
}

.photo {
  max-height: 352px;
}

.video {
  width: 500px;
  height: 360px;
  background-color: white !important;
}

.benefits__photo {
  width: 105px !important;
  height: 105px ;
}

.benefits__card {
  display: flex;
  background-color: white !important;
  align-items: center;
  margin-bottom: 31px;
}

.benefits__card:first-child {
  margin-bottom: 10px !important;

}

.link {
  text-decoration: none;
  color:whitesmoke;
  font-weight: bold;
  font-family: "Roboto";
}

.mainPage__button {
  background-color: #5c75f4 !important;
  border-radius: 4px;
  text-align: center;
}