.game_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../../../../../assets/games/audioChallenge/audioImg.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.audio_challenge__score {
  color: #ffffff;
  font-size: 30px;
  margin: 10px;
}
.audio_challenge__panel {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px 80px 40px;
}
.audio_challenge__imageWrapper {
  height: 242px;
}
.button_translate_word {
  margin: 5px;
  color: #fff;
  padding: 7px 20px 7px 36px;
}
.translate_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: 14px;
  margin-bottom: 10px;
}
.translate_word {
  margin: 5px;
  border-radius: 5px;
  color: #ffffff;
  opacity: 0.7;
  cursor: pointer;
}
.translate_word:hover {
  opacity: 1;
}
.translate_word_text {
  margin: 3px 7px;
  font-size: 1.5em;
}
.text__translateListWrapper {
  margin-bottom: 30px;
}

.text_center {
  display: flex;
  justify-content: center;
}
.text__translateItem {
  color: #ffffff;
  margin: 0 28px 0 0px;
  /* list-style: none; */
}

.text__translateList {
  display: flex;
  /* list-style: none; */
}

.button_translate_word {
  margin-right: 10px;
  color: #fff;
}

.word_english {
  color: #ffffff;
}
.fullScreen__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 400px) {
  .translate_word_text {
    font-size: 1em;
  }
  .translate_container {
    width: 300px;
  }
}
