.header-card-test{
  background-color:#0f4c81 ;
  color: #ffffff;
}
.answer-button{
  margin: 5px;
  border:2px solid #0f4c81;
  color: #0f4c81;
}
.answer-button:hover{
  background-color: #0f4c81;
  color: #ffffff;
}