.sprint {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../../../assets/games/sprint/sprintBG.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.return_home {
  position: absolute;
  top: 3px;
  right: 3px;
}
