.gameOverScreen {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../../../assets/games/sprint/letsPlay.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
.gameOver__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gameOver__text {
  margin: 10px;
  font-size: 30px;
  color: #ffffff;
}
.result__button__container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px 5px;
}
.gameOver__container__text {
  color: #ffffff;
}
@media screen and (max-width: 450px) {
  .result__button__container {
    flex-direction: column;
    width: 250px;
    height: 120px;
  }
}
